* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: Arial, sans-serif;
    user-select: none;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    padding: 30px 0;

    background-color: #e6e6e6;
}

.app__title {
    margin: 0;
    border: 1px solid red;
}

.app__controls {
    display: flex;
    gap: 30px;
    border: 1px solid red;
}

.app__list {
    flex: 1 1 200px;
    border: 1px solid blue;
}

.user-card {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    margin-bottom: 15px;
    padding: 15px;

    background-color: beige;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.user-card img.avatar {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    object-fit: cover;
}
