* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: Arial, sans-serif;
    user-select: none;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    padding: 15px 0;

    background-color: #e6e6e6;
}

.app__title {
    margin: 0;
}

.app__controls {
    display: flex;
    align-items: center;
    gap: 30px;
}

.app__button {
    width: 200px;
    height: 50px;
    margin: auto;

    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #646cff;

    cursor: pointer;
}

.app__list {
    flex: 1 1 200px;
    border: 1px solid blue;
    overflow-y: scroll;
}

.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    margin-bottom: 15px;
    padding: 15px;

    background-color: beige;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.user-info {
    border: 1px solid #ccc;
}

.user-avatar-wrapper {
    display: flex;

    width: 80px;
    height: 80px;

    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar-wrapper--default {
    padding: 20px;
}

.user-avatar-pic {
    width: 100%;
    min-height: 100%;
}
